
/* Common Style starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Inter", sans-serif;
    /* background-color: rgba(255, 255, 255, 0); */
    background-color: rgba(126, 122, 122, 0.123);
}

/* Common Style ends here */


/* navber design starts here */
#navbar-container{
    max-width: 70%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    /* border: 2px solid red; */
    padding:16px;
}

#navbar-container .navbar-details ul{
    display: flex;
    gap: 32px;
}

#navbar-container .navbar-details ul li{
    list-style-type: none;
    text-decoration: none;
    color:var(--#000000, rgba(0, 0, 0, 1));
    font-size: 20px;
}

#navbar-container .navbar-details ul li a{
    text-decoration: none;
    color:black;
    
}

#navbar-container .navbar-btn button{
    background-color: #30B868;
    padding: 12.5px 16px;
    color: white;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    
}
#navbar-container .navbar-btn button:hover{
    background-color: tomato;
    cursor: pointer;
}

/* navber design ends here */


/* Banner Design Section Starts Here */

#banner-container{
    width: 100%;
    height: 70vh;

    background-image: url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px

}

#banner-container .banner-details{
    text-align: center;
}

#banner-container .banner-details .p1{
    background-color: white;
    color:green;
    display:inline;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 15px;
}

#banner-container .banner-details .p1 .round-icon{
    
    color:rgba(0, 128, 0, 0.562);
    
}


#banner-container .banner-details .h2-1{
    color:rgba(255, 255, 255, 0.771);
    padding-top: 10px;
    font-size: 72px;
    font-weight: bold;
}

#banner-container .banner-details .h2-2{
    color:rgba(0, 255, 26, 0.57);
    /* padding-top: 10px; */
    font-size: 72px;
    font-weight: bold;
}

#banner-container .banner-details p{
    color:rgb(255, 255, 255, 1);
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.btn1{
    background-color: #30B868;
    padding: 12.5px 16px;
    color: white;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
}

.btn2{
    background-color: transparent;
    padding: 12.5px 16px;
    color: white;
    font-size: 20px;
    border:1px solid white;
    border-radius: 5px;
}

.btn1:hover{
    background-color: tomato;
    cursor: pointer;
}
.btn2:hover{
    background-color: tomato;
    cursor: pointer;
}
/* Banner Design Section Ends Here */

/* Notes Design Section Starts Here */
#notes-section{
    max-width: 70%;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding:16px;
}
#notes-section .notes-heading{
    text-align: center;

}

#notes-section .notes-heading .notes-h2{
    color: black;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 30px;

}

#notes-section .notes-heading .notes-p{
    margin-bottom: 40px;
    margin-top: 10px;

}

#notes-section .notes-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#notes-section .notes-container .notes{
  border: 1px solid rgb(255, 255, 255);
  border-bottom: none;
  background-color: rgb(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  padding:10px;
  width: 22%;
  text-align: center;

}

#notes-section .notes-container .notes .notes-h3{
  padding: 15px 0px;

}

.notes-container .notes .p-notes{
  padding-bottom:30px; 

}

.notes-container .notes img{
  
  background-color:tomato;
  padding: 10px;
  border-radius: 50%;
  margin-top: 50px;

}

/* Notes Design Section Ends Here */


/* Brain Section Starts Here */
#brain-container{
    max-width: 70%;
    border:1px solid green;
    display: flex;
    justify-content: start;
    /* gap: 10px; */
    align-items: center;
    margin: 0 auto;
    padding:16px;
    
    
}
#brain-container .brain-img img{
    width: 80%; 
    margin-top: 40px;
}


.brain-details .brain-p1{
    color:green;
    /* margin-bottom: 10px; */
}

.brain-details .brain-h3{
    color:rgb(0, 0, 0);
    font-size: 50px;
    /* margin-bottom: 20px; */
}

.brain-details .brain-p2{
    
    margin-bottom: 25px;
    margin-top: 10px;
}

.brain-details h5 i{
    color: green;
    margin-bottom: 10px;
}

#brain-container .brain-details{
    margin-top: 30px;
    margin-left: -50px;
}
/* Brain Section Ends Here */

#early-access-section{
    max-width: 70%;
    border: 1px solid red;
    margin: 0 auto;
    padding:16px;
    align-items: center;
    padding:16px; 
    margin-top: 60px;
    
    
}

#early-access-section .early-access-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding: 16px;
    text-align: center;  
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    height: 40vh;

}

.early-access-container h1{
    margin-bottom: 16px;
    font-size: 48px;
}

.early-access-container p{
    /* margin-bottom: 16px; */
    font-size: 16px;

    
}

.btn{
     background-color: #30B868;
    padding: 12.5px 16px;
    color: white;
    font-size: 20px;
    border:none;
    border-radius: 5px;
}